* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 14, 14);
  color: white;
  font-family: sans-serif;
}

h1 {
  margin: 50px auto;
}

/* Estilos para WebKit (Safari y Chrome) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 15px;
  width: 25px;
}

.propietario {
  width: 600px;
  border: 1px solid white;
  padding: 30px;
  margin: 0 auto;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.propietario input {
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
}

.propietario label {
  font-size: 150%;
  font-weight: 700;
  text-transform: uppercase;
}

.propietario span {
  margin-top: 15px;
  font-weight: 100;
  opacity: 0.5;
}

.propietario button {
  margin-top: 10px;
  padding: 15px;
  background-color: #25d366;
  border: 0px;
  outline: 0px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 120%;
}
.propietario button:hover {
  background-color: #26b159;
}

/* Botones */
.equis,
.car {
  font-size: 200%;
  position: absolute;
  cursor: pointer;
  transition: 0.2s ease;
}

.equis1 {
  top: 4%;
  right: 5%;
}

.equis2 {
  top: 15px;
  right: 15px;
}

.equis3 {
  top: 5px;
  right: 5px;
}

.equis4 {
  top: -1px;
  right: -1px;
}

.descripcion-btn {
  background-color: transparent;
  color: white;
  margin-top: 35px;
  padding: 8px 12px;
  border: solid 2px white;
  border-radius: 6px;

  opacity: 0.5;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.descripcion-btn i {
  margin-right: 5px;
}

.equis1:hover,
.equis2:hover,
.descripcion-btn:hover,
.car:hover,
.equis3:hover {
  opacity: 1;
  transform: scale(1.08);
}

.equis1:active,
.equis2:active,
.descripcion-btn:active,
.car:active,
.equis3:active {
  transform: scale(0.8);
}

/* Botones */

.masonry {
  max-width: 90%;
  margin: 50px auto;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.masonry-item {
  height: auto;
  padding: 10px;

  position: absolute;
  float: left;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1 !important;
}

.item {
  width: 100%;
  height: 100%;
  border-radius: 15px;

  display: block;
  position: relative;

  overflow: hidden;
  cursor: pointer;
}

.item:hover img {
  transform: scale(1.05);
}

.item img {
  width: 100%;
  height: 100%;
  display: block;

  -o-object-fit: cover;

  object-fit: cover;
  will-change: transform;
  transition: 0.4s ease-in-out;
}

.item:hover .title {
  opacity: 1;
}

.title {
  width: 100%;
  padding: 10px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;

  transform: translateY(-100%);
  position: absolute;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.fondo {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  position: fixed;
  display: none;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 0;
  z-index: 9999999;

  opacity: 0;
  transition: opacity 0.3s;
}

.fondonum {
  width: 100%;
  height: 100vh;
  background-color: black;

  position: fixed;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 0;
  z-index: 9999999;

  transition: opacity 0.3s;
}

.fondo-mentiras {
  display: flex;
  opacity: 0;
  transition: 0.5s ease;
}

.preview-imgs {
  width: 90%;
  height: 80%;
  will-change: transform;
}

.cell {
  width: 100%;
  height: 100%;
}

.cell img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.flickity-button:focus {
  outline: 0;
  box-shadow: none;
}

.flickity-viewport {
  height: 100% !important;
}

.descripcion {
  width: 100%;
  max-width: calc(80vh * 0.85);
  height: 90%;

  border-radius: 20px;
  background-color: rgb(14, 14, 14);
  overflow: hidden;
  position: relative;
}

.d-info {
  width: 100%;
  height: 90%;
  padding: 3% 5%;
}

.d-img {
  width: 100%;
  height: 40%;
  border-radius: 20px;
  overflow: hidden;
}

.d-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.d-body {
  width: 100%;
  height: 60%;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.d-body > * {
  flex: 1;
}

.d-body > h3 {
  margin-top: 15px;
}

.d-body p {
  color: rgb(185, 185, 185);
  margin-top: 15px;
}

.car-shop {
  width: 100%;
  height: 10%;
  font-size: 110%;
  font-weight: 700;

  border: none;
  outline: none;
  opacity: 0.8;
  cursor: pointer;

  transition: background-color 0.1s ease;
}

.car-shop:hover {
  color: rgb(255, 255, 255);
  background-color: #25d366;
  opacity: 1;
}

.car-shop:active {
  font-size: 100%;
  color: rgb(255, 255, 255);

  background-color: #26b159;
  opacity: 1;
}

.btn-invisible {
  background-color: transparent;
  color: rgb(185, 185, 185);
}

.btn-invisible:hover,
.btn-invisible:active {
  cursor: no-drop;
  background-color: transparent;
}

.car-shop i {
  margin-right: 5px;
}

.cantidad {
  width: 80%;
  margin: 20px auto;

  display: flex;
  align-items: center;
  gap: 20px;
}

.cantidad h3 {
  flex: 1;
}

.numeros {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;

  border-radius: 5px;
  overflow: hidden;
}

.numeros > * {
  flex: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: white;
}

.numeros > *:nth-child(1),
.numeros > *:nth-child(3) {
  font-size: 110%;
  font-weight: 900;
  background-color: rgb(35, 35, 35);
  border: none;
}

.numeros > *:nth-child(2) {
  flex: 2;
  cursor: default;
}

@-webkit-keyframes move {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    transform: translateY(10%);
    opacity: 0;
  }
}

@keyframes move {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    transform: translateY(10%);
    opacity: 0;
  }
}

.car-shoping,
.wpp-pedido {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  overflow: hidden;

  position: relative;

  display: flex;
  flex-direction: column;
  background-color: rgb(14, 14, 14);
}

.car-shoping-head,
.car-shoping-body,
.car-shoping-footer {
  flex: 1;
}

.car-shoping-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
}

.car-shoping-body {
  flex: 9;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
}

.car-shoping-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.car-shoping-footer h3 {
  margin: 0 15px;
}

.car-shoping-footer button {
  width: 30%;
  height: 100%;

  border: none;
  color: white;
  font-size: 110%;
  background-color: #25d366;
  opacity: 0.9;

  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.car-shoping-footer button:hover {
  opacity: 1;
}

.car-shoping-footer button:active {
  opacity: 0.8;
}

.car-shoping-footer button span {
  margin-left: 5px;
}

.shopping-product {
  width: 100%;
  min-height: 100px;
  max-height: 120px;
  border-radius: 15px;
  background-color: rgb(31, 31, 31);

  display: flex;
  justify-content: space-between;

  position: relative;
}

.shopping-product-img {
  width: 100px;
  height: 100%;
  transition: 1s;

  border-radius: 15px 0px 0px 15px;
  overflow: hidden;
}

.shopping-product-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.shopping-product-info {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5px;
  padding: 10px;
}

.shopping-product-info > * {
  display: flex;
  align-items: center;
}

.trash {
  background-color: #d42e26;
  border-radius: 50%;
  padding: 10px;

  position: absolute;
  right: -5px;

  border: none;
  outline: none;
  cursor: pointer;
}

.trash i {
  color: #ffffff;
}

@media (min-width: 1025px) {
  /* MASONRY */
  .masonry-item {
    width: 20%;
  }

  /* CARRITO DE COMPRAS */
  .shopping-product-img {
    width: 200px;
  }
}

@media (max-width: 1024px) {
  /* MASONRY */
  .masonry-item {
    width: 25%;
  }
}

@media (max-width: 768px) {
  /* MASONRY */
  .masonry-item {
    width: 33.33%;
  }

  /* CARRITO DE COMPRAS */
  .shopping-product-info {
    padding: 20px;
  }

  .shopping-product-img {
    width: 0;
  }

  .shopping-product-info > *:nth-child(1) {
    grid-column: 1 / span 2;
  }

  .shopping-product-info > *:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .shopping-product-info > *:nth-child(3) {
    display: none;
  }

  .flickity-button,
  .flickity-page-dots {
    display: none;
  }

  .descripcion-btn {
    margin-top: 15px;
  }
}

@media (max-width: 524px) {
  /* MASONRY */
  .masonry-item {
    width: 50%;
  }
}

.wpp-pedido {
  max-width: 600px;
  height: auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;

  opacity: 1;
  will-change: opacity;
  transition: opacity 0.5s ease-out;

  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999999;
}

.wpp-pedido * {
  border: none;
  outline: none;
}

.wpp-pedido input[type="text"],
.wpp-pedido select {
  flex: 1;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.op-entrega {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.retirar,
.enviar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;

  padding: 30px 0;
  text-align: center;
  cursor: pointer;
}

/* .retirar:hover,
.enviar:hover {
  
} */
.naranja {
  background-color: #ffae00;
}

.retirar p,
.enviar p {
  margin-top: 5px;
  font-size: 80%;
}

.direccion {
  display: none;
  margin-bottom: 20px;
}

.direccion > * {
  flex: 1;
  border-left: 1px solid #ccc;
}

.direccion > *:nth-child(2) {
  width: 10%;
}

.direccion > *:nth-child(3) {
  flex: 5 !important;
}

.nombre,
.telefono {
  margin-bottom: 20px;
}

.nombre,
.telefono,
.direccion > *:nth-child(3) {
  font-size: 105%;
}

.btn-enviar-p {
  background-color: #333;
  color: white;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-enviar-p h2 {
  margin: 30px;
}

.btn-enviar-p:hover {
  background-color: #25d366;
}

.car-icon {
  right: 5%;
  bottom: 5%;
  position: fixed;
  z-index: 999999;
}

.circle {
  min-width: 15px;
  aspect-ratio: 1 / 1;
  box-sizing: content-box;
  padding: 3px;
  background-color: #ae005d;
  border-radius: 50%;

  color: white;
  font-size: 80%;
  font-weight: 900;

  position: absolute;
  left: 70%;
  bottom: 70%;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: compra 1s ease-out 1 forwards;
}

.car {
  position: initial;
}

@keyframes compra {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-75px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
